<form action="/search/" method="GET">
<label for="terms">Search:</label>
<input type="string" size=80 id="terms" name="terms" value="{{ terms }}"/><br/>
<INPUT type="submit" value="Search"><br/>
</form>

<table width="100%">
  {{#if books}}
            <tr><td>Took: {{took}}ms</td></tr>
      {{#each books}}
            <tr>
                <td>{{title}}</td>
                <td>{{author}}</td>
                <td>{{tags}}</td>
                <td>
                    <a href="/edit/{{_id}}">Edit</a>
                    <a href="/delete/{{_id}}">Delete</a>
                </td>
            </tr>
        {{/each}}
    {{else}}
        <tr>
            <td colspan="4" class="text-center">No data to display.</td>
        </tr>
    {{/if}}
</table>
